* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Mitades */

#background {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-evenly;
}


/* Cuadrados */

.squares {
    width: 50vw;
    height: 50vh;
    border: .2rem solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    /* filter: brightness(1.5); */
}

.top {
    border-top: .4rem solid black;
}

.bot {
    border-bottom: .4rem solid black;
}

.left {
    border-left: .4rem solid black;
}

.right {
    border-right: .4rem solid black;
}

#topLeft {
    background-color: #16c52e;
}

#topRight {
    background-color: #dd2c11;
}

#botLeft {
    background-color: #edd624;
}

#botRight {
    background-color: #219edf;
}

.squares:hover {
    color: white;
    filter: brightness(1.5);
}