* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Mitades */

#background {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}


/* Cuadrados */

.squares {
    width: 50vw;
    height: 50vh;
    border: 1vh solid black;
}

#topLeft {
    background-color: green;
}

#topRight {
    background-color: red;
}

#botLeft {
    background-color: yellow;
}

#botRight {
    background-color: blue;
}